build
dist / media
node_modules
.DS_Store
.env
.next
next-env.d.ts
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.env*
tsconfig.tsbuildinfo

# Local duplicate files created by Finder/editor copy flows, e.g. "index 2.tsx"
src/**/* 2.*
tests/**/* 2.*
